@import url('./reset.css');

* {
    box-sizing: border-box;
    height: fit-content;
    max-width: 100%;
    text-wrap: pretty;
    width: fit-content;
}

/* Variables */

:root {
    --gap12: 0.75rem;
    --gap16: 1rem;
    --gap24: 1.5rem;

    --icon-ht: 2rem;
    --btn-ht: 3rem;
}

/* Typography */

@font-face {
    font-family: 'Open Sans';
    src: url(/fonts/OpenSans.ttf) format("truetype");
    font-style: normal;
}

:root {
    font-family: 'Open Sans', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
}

/* Grayscale */

:root {
    --intensity-txt: 48;
    --txt-black: oklab(calc(1 / var(--intensity-txt)) 0 0);
    --txt-white: oklab(calc(1 - (1 / var(--intensity-txt))) 0 0);

    --intensity-bg: 36;
    --bg-black: oklab(calc(1 / var(--intensity-bg)) 0 0);
    --bg-white: oklab(calc(1 - (1 / var(--intensity-bg))) 0 0);

    --gray: oklab(0.4 0 0);
}

/* Color */

@media (prefers-color-scheme: light) {
    :root {
        --red: rgb(255,56,60);
        --orange: rgb(255,141,40);
        --yellow: rgb(255,204,0);
        --blue: rgb(0,136,255);
        --indigo: rgb(97,85,245);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --red: rgb(255,66,69);
        --orange: rgb(255,146,48);
        --yellow: rgb(255,214,0);
        --blue: rgb(0,145,255);
        --indigo: rgb(109,124,255);
    }
}

/* Forbid screen to shrink beyond 320px */

html, body, body > * {
    min-width: 20rem;
    width: 100%;
}

/* Basic components */

body {
    align-items: center;
    background-color: var(--bg-white);
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gap24);
    min-height: 100vh;
}

body.limited {
    gap: 0;
    justify-content: space-between;
}

body * {
    transition: all 250ms ease-in-out;
}

header, button {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
}

main:not(.display) {
    display: none !important;
}

main.search, main.no-result {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gap16);
    padding: 0 var(--gap24);
}

button {
    border: none;
    border-radius: calc(var(--btn-ht) / 2) !important;
    cursor: pointer;
    gap: var(--gap12);
    height: var(--btn-ht);
}

button svg {
    height: var(--icon-ht);
    width: var(--icon-ht);
}

h1 {
    font-weight: 550;
    line-height: 120%;
}

p {
    line-height: 145%;
}

/* Search button */

header > button.search, form.search-bar > button {
    border-radius: var(--gap12);
    justify-content: center;
    width: var(--btn-ht);
}

header > button.search.default, form.search-bar > button {
    background-color: var(--blue);

    svg {
        fill: var(--txt-white);
    }
}

header > button.search.default:hover, form.search-bar > button:hover {
    background-color: var(--indigo);
}
