@import url('./reset.css');

* {
    box-sizing: border-box;
    height: fit-content;
    width: fit-content;
}

/* Typography */

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans.ttf') format('truetype');
    font-style: normal;
}

:root {
    font-family: 'Open Sans', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    text-wrap: pretty;
}

h1, h2 {
    font-weight: 550;
    line-height: 120%;
    max-width: 60rem;
}

h1 {
    color: var(--black);
}

h2 {
    color: var(--ios-gray-1);
}

@media (width < 33rem) {
    h1 {font-size: 1.375rem;}
    h2 {font-size: 1.125rem;}
}

@media (33rem <= width < 34.875rem) {
    h1 {font-size: 1.5rem;}
    h2 {font-size: 1.25rem;}
}

@media (34.875rem <= width < 37.5rem) {
    h1 {font-size: 1.625rem;}
    h2 {font-size: 1.375rem;}
}

@media (37.5rem <= width < 39.5rem) {
    h1 {font-size: 1.75rem;}
    h2 {font-size: 1.5rem;}
}

@media (39.5rem <= width) {
    h1 {font-size: 1.875rem;}
    h2 {font-size: 1.625rem;}
}

p {
    font-weight: 400;
    line-height: 145%;
    max-width: 57rem;
}

@media (width < 28rem) {
    p {font-size: 0.875rem;}
}

@media (28rem <= width < 30.75rem) {
    p {font-size: 1rem;}
}

@media (30.75rem <= width < 33rem) {
    p {font-size: 1.125rem;}
}

@media (33rem <= width) {
    p {font-size: 1.25rem;}
}

/* Color */

@media (prefers-color-scheme: light) {
    :root {
        --apple-red: rgb(255,56,60);
        --apple-blue: rgb(0,136,255);
        --apple-indigo: rgb(97,85,245);

        --ios-gray-1: rgb(142,142,147);
        --ios-gray-5: rgb(229,229,234);
        --ios-gray-6: rgb(242,242,247);
        --ios-gray-6-alt: rgb(28,28,30);

        --black: oklab(0.01 0 0);
        --white: oklab(0.99 0 0);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --apple-red: rgb(255,66,69);
        --apple-blue: rgb(0,145,255);
        --apple-indigo: rgb(109,124,255);

        --ios-gray-1: rgb(142,142,147);
        --ios-gray-5: rgb(44,44,46);
        --ios-gray-6: rgb(28,28,30);
        --ios-gray-6-alt: rgb(242,242,247);

        --black: oklab(0.99 0 0);
        --white: oklab(0.01 0 0);
    }
}

/* Constraint Variables */

:root {
    --gap4: 0.25rem;
    --gap8: 0.5rem;
    --gap12: 0.75rem;
    --gap16: 1rem;
    --gap24: 1.5rem;
    --gap36: 2.25rem;
    --gap48: 3rem;
}

/* Fundamentals */

html {
    width: 100%;
}

body {
    align-items: center;
    background-color: var(--ios-gray-6);
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    min-width: 20rem;
    width: 100%;
}

/* Transition */

body, body * {
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

/* Buttons */

a {
    align-items: center;
    border-radius: var(--gap24);
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    height: var(--gap48);
    justify-content: center;
    text-decoration: none;
    transition-property: background-color;
}

a > svg {
    height: var(--gap36);
}

a * {
    color: var(--white);
    fill: var(--white);
}

a.search {
    background-color: var(--apple-blue);
}

a.search:hover {
    background-color: var(--apple-indigo);
}

a.short {
    width: var(--gap48);
}

a.long {
    gap: var(--gap8);
    padding: 0 var(--gap24) 0 var(--gap16);
}

a.long > h1 {
    font-size: 1.5rem;
}

/* Header */

header {
    align-items: center;
    background-color: var(--ios-gray-6-alt);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}

a.home {
    background: none;
    border-radius: 0;
    gap: var(--gap8);
    height: fit-content;
    justify-content: flex-start;
    transition-property: none;
}

@media (width < 23rem) {
    a.home > h1 {font-size: 1.5rem;}
    a.home > h1 > span {display: none;}
}

@media (width < 24rem) {
    header {padding-left: var(--gap12);}
    header > a.search.short {border-radius: 0;}
}

@media (24rem <= width < 26rem) {
    header {padding: var(--gap8) var(--gap12);}
}

@media (23rem <= width < 26rem) {
    a.home > h1 {font-size: 1.375rem;}
}

@media (26rem <= width < 28rem) {
    a.home > h1 {font-size: 1.5rem;}
}

@media (width < 28rem) {
    a.home > svg {height: var(--gap36);}
}

@media (28rem <= width) {
    a.home > svg {height: var(--gap48);}
}

@media (28rem <= width < 30rem) {
    a.home > h1 {font-size: 1.625rem;}
}

@media (30rem <= width < 33rem) {
    a.home > h1 {font-size: 1.75rem;}
}

@media (26rem <= width < 33rem) {
    header {padding: var(--gap12) var(--gap24);}
}

@media (33rem <= width) {
    header {padding: var(--gap16) var(--gap24);}
    a.home > h1 {font-size: 2rem;}
}

/* Footer */

footer {
    align-items: center;
    background-color: var(--ios-gray-6-alt);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    justify-self: flex-end;
    width: 100%;
}

footer > p {
    color: var(--white);
    text-align: right;
}

@media (width < 26rem) {
    footer {padding: var(--gap8) var(--gap12);}
}

@media (26rem <= width) {
    footer {padding: var(--gap12) var(--gap24);}
}
