@import url('./short.css');

main > svg {
    fill: var(--apple-red);
    height: 8rem;
}

main > h2 {
    text-align: center;
}

section.btns {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap24);
    justify-content: center;
}

a.home-inpage {
    border: var(--gap4) solid var(--ios-gray-2-alt);
    transition-property: all;
}

a.home-inpage * {
    color: var(--ios-gray-2-alt);
    fill: var(--ios-gray-2-alt);
}

a.home-inpage:hover {
    border-color: var(--apple-indigo);
}

a.home-inpage:hover * {
    color: var(--apple-indigo);
    fill: var(--apple-indigo);
}
