@import url('./reset.css');
@import url('./clickables.css');

html {scroll-behavior: smooth;}
* {box-sizing: border-box;}
.hide {display: none;}

:root {
    --black: oklab(0.05 0 0);
    --white: oklab(0.95 0 0);
}

@media (prefers-color-scheme: light) {
    :root {
        --bg0: #e17a2d;
        --bg1: #6e320c;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg0: #f3d88a;
        --bg1: #e1ac3a;
    }
}

@media (prefers-color-scheme: light) {
    /* All texts & glyphs are white */
    * {
        color: var(--white);
        fill: var(--white);
    }

    /* The background, which will pass onto the header and the footer, both with transparent background, is white */
    body {background-color: var(--white);}

    /* The headings inside the header and the footer need to be black to form contrast against the white background */
    .alt-color, .alt-color * {
        color: var(--black);
        fill: var(--white);
    }
}

@media (prefers-color-scheme: dark) {
    * {
        color: var(--black);
        fill: var(--black);
    }
    body {background-color: var(--black);}

    .alt-color, .alt-color * {
        color: var(--white);
        fill: var(--white);
    }
}

.btn, button {background-color: var(--apple-blue);}
.btn:hover, button:hover {background-color: var(--apple-indigo);}
.btn:active, button:active {background-color: var(--apple-pink);}

:root {
    font-family: 'Open Sans', sans-serif;

    --gap: 0.75rem;

    --corner: 0.75rem;

    --favicon-ht: 2.5rem;

    --icon-ht: 2rem;
    --btn-ht: calc(var(--icon-ht) + var(--gap));
}

h1 {
    font-size: 1.75rem;
    font-weight: 550;
}

h2 {
    font-size: 1.25rem;
    font-weight: 500;
}

p, li {line-height: 145%;}

.btn, button {
    align-items: center;
    border-radius: var(--corner);
    display: flex;
    flex-flow: row nowrap;
    gap: var(--gap);
    height: var(--btn-ht);
    justify-content: space-between;
    padding: calc(var(--gap) / 2) var(--gap);
}

.btn > svg, button > svg {
    height: var(--icon-ht);
}

.btn > p, button > p, input {
    font-size: 1.25rem;
    font-weight: 500;
}

header {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.favicon, input {
    border-radius: var(--corner);
    height: var(--favicon-ht);
}

header h1 {margin: 0;}

header > .title {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: var(--gap);
    justify-content: flex-start;
    margin: var(--gap);
}

input {
    margin: var(--gap);
    padding: 0 var(--gap);
    width: clamp(15rem, calc(100vw - 2 * var(--gap)) , 22rem);
}

@media (width <= 46.5rem) {
    header {
        flex-direction: column;
        justify-content: flex-start;
    }
}

footer {
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
    padding: var(--gap);
}
