@import url('./reset.css');
@import url('./clickables.css');

html {scroll-behavior: smooth;}
* {
    box-sizing: border-box;
    text-wrap: pretty;
}
.hide {display: none;}

:root {
    --black: oklab(0.05 0 0);
    --white: oklab(0.95 0 0);
}

@media (prefers-color-scheme: light) {
    :root {
        --bg0: #e17a2d;
        --bg1: #6e320c;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg0: #f3d88a;
        --bg1: #e1ac3a;
    }
}

@media (prefers-color-scheme: light) {
    /* All texts & glyphs are white */
    * {
        color: var(--white);
        fill: var(--white);
    }

    /* The background, which will pass onto the header and the footer, both with transparent background, is white */
    body {background-color: var(--white);}

    /* The headings inside the header and the footer need to be black to form contrast against the white background */
    .alt-color, .alt-color * {
        color: var(--black);
        fill: var(--black);
    }
}

@media (prefers-color-scheme: dark) {
    * {
        color: var(--black);
        fill: var(--black);
    }
    body {background-color: var(--black);}

    .alt-color, .alt-color * {
        color: var(--white);
        fill: var(--white);
    }
}

.btn, button {background-color: var(--apple-blue);}
.btn:hover, button:hover {background-color: var(--apple-indigo);}
.btn:active, button:active {background-color: var(--apple-pink);}

:root {
    font-family: 'Open Sans', sans-serif;

    --gap: 0.75rem;

    --corner: 0.75rem;

    --favicon-ht: 2.5rem;

    --icon-ht: 2rem;
    --btn-ht: calc(var(--icon-ht) + var(--gap));

    --component-max-width: calc(100vw - 2 * var(--gap));
}

h1 {
    font-size: 1.75rem;
    font-weight: 550;
}

h2 {
    font-size: 1.25rem;
    font-weight: 500;
}

em {font-weight: 600;}

p, li {line-height: 145%;}

.btn, button {
    align-items: center;
    border-radius: var(--corner);
    display: flex;
    flex-flow: row nowrap;
    gap: var(--gap);
    height: var(--btn-ht);
    justify-content: space-between;
    padding: calc(var(--gap) / 2) var(--gap);
}

.btn > svg, button > svg {
    height: var(--icon-ht);
}

.btn > p, button > p, input {
    font-size: 1.25rem;
    font-weight: 500;
}

header {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.favicon, input {
    border-radius: var(--corner);
    height: var(--favicon-ht);
}

header h1 {margin: 0;}

header > .title {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: var(--gap);
    justify-content: flex-start;
    margin: var(--gap) var(--gap) 0;
}

input {
    margin: var(--gap);
    padding: 0 var(--gap);
    width: clamp(15rem, var(--component-max-width), 20rem);
}

@media (44.375rem <= width) {
    header > .title {margin: var(--gap);}
}

footer {
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
    padding: var(--gap);
}

main.recipe {
    display: flex;
    flex-flow: column nowrap; 
    gap: var(--gap);
    justify-self: center;
    max-width: 60rem;
}

main.recipe section {
    background-color: var(--bg1);
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gap);
}

main.recipe div.text {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gap);
    justify-content: center;
    margin: var(--gap);
}

main.recipe section.prep {
    padding: var(--gap) 0;
}

ul {
    list-style-type: disc;
    margin-left: var(--gap);
}

main.recipe section.steps {
    background-color: var(--bg0);
    gap: 0;
}

main.recipe picture, main.recipe img {
    margin: auto;
    max-height: 18rem;
}

.square {aspect-ratio: 1 / 1;}


@media (40rem <= width) {
    main.recipe section {
        flex-direction: row;
        padding: 0 var(--gap);
    }

    main.recipe picture, main.recipe img {max-height: 15rem;}

    main.recipe section.prep {
        .heading {grid-area: heading;}
        picture, img {grid-area: image;}
        .detail {grid-area: detail;}

        display: grid;
        grid-template: 2fr 3fr / 1fr 2fr;
        grid-template-areas: 
        'image heading'
        'image detail';
    }
}

